name: BrowserUp Proxy CI

on:
  push:
    branches:
    - master
  pull_request:
    branches:
    - master

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [ 8, 11]

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Set up JDK
      uses: actions/setup-java@v3
      with:
        java-version: ${{ matrix.java }}
        distribution: 'temurin'
        cache: 'gradle'

    - name: Set up Python 3.x
      uses: actions/setup-python@v3
      with:
        python-version: '3.x'
        cache: 'pip'

    - name: Install Python packages
      run: pip install -r requirements.txt

    - name: Build with Gradle
      run: |
        export MITMPROXY_BINARY_PATH=$(type -aP mitmdump | xargs dirname )
        ./gradlew build -PMITMPROXY_BINARY_PATH="$MITMPROXY_BINARY_PATH"
